body{
    background-color: black;
    color: #4dffb8;
    align-content: center;
    font-family: "Lucida Console"
}

h1{
    font-size:300%;
}

a{
    background-color:#4dffb8;
}

#topel{
    padding-top: 5%;
}
